* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #feded4;
  --primary-color-a5: rgba(254, 222, 212, 0.5);

  --secondary-color: #fdfdfd;
  --font-color-light: var(--clr-grey-10);
  --font-color-dark: var(--clr-grey-900);

  --font-color-tint1: var(--clr-grey-600);
  --font-color-tint2: var(--clr-grey-400);

  --border-color: var(--clr-grey-40);

  --transition-one: all 0.4s linear;
  --transition-two: 0.3s ease-in-out all;
  --borderRadius: 10px;
  --letterSpacing: 1px;
  --max-width: 1120px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
}

@media (max-width: 800px) {
  html {
    font-size: 90%;
  }
}

a {
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


body {
  font-family: serif, sans-serif;
  background: var(--secondary-color);
}

.header {
  background: var(--primary-color);
}

.main {
  min-height: 80vh;
  max-width: var(--max-width);
  margin: 1rem auto;
  padding: 0.5rem 1rem;
}

.navbar {
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-color);
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  border-radius: var(--borderRadius);
  background: var(--primary-color);
  color: var(--font-color-dark);
  width: fit-content;
  text-align: center;
  font-size: 1rem;
}